# Cache and Environment
__pycache__/
*.py[cod]
.venv/
venv/
.DS_Store

# ASSETS
# Ignore folders but allow the specific files needed for the app
data/*
outputs/*
models/*

!data/Diabetes_and_LifeStyle_Dataset_.csv
!outputs/clustering/*.csv
!outputs/clustering/*.pkl
!outputs/models/*.pkl

# Keep folder structure even if empty
!data/.gitkeep
!outputs/.gitkeep
!models/.gitkeep